
.icon-mail:before { content: '\e800'; } /* '' */
.icon-menu-outline:before { content: '\e801'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
